<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="desktop-1">
        <div class="content">
          <div class="logos">
            
            <a href="https://pypi.org/project/pipcreator/" target="_blank">
            <img class="logo" src="images/logoDark.svg" />
            </a>

            <a href="https://flask.palletsprojects.com/" target="_blank">
            <img class="logo" src="images/flask.svg" />
            </a>
          </div>
          <div class="title">PipCreator + Flask</div>
          <div class="counter">
            <div class="count">
                <button id="countup" class="counter2">Count is 0</button>
            </div>
            <div class="small-text">
              Click on the PipCreator and Flask logos to learn more
            </div>
          </div>
        </div>
      </div>
</body>
<script src="script.js"></script>
</html>